  .header {
        width: 100%;
        background-color: #FE840E;
        position: fixed;
        z-index: 1;
        padding: 0px;
        top: 0;
      }

      .logo {
        width: 8%;
        margin-left: .5%;
        margin-top: .5%;
      }


      .nav {
        padding: 1%;
        font-family: sans-serif;
        color: white;
        position: absolute;
        top: 0px;


      }

      .nav-one-new {
        float: right;
        text-align: center;
        width: 150px;
        text-decoration: none;
        padding: 2%;
        background-color: #8D9440;
        color: white;
        border: solid black 2px;
        border-radius: 25px;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 8px;
        margin-right: 2px;

      }

      .nav-two-new {
        float: right;
        text-align: center;
        width: 150px;
        text-decoration: none;
        padding: 2%;
        background-color: #BD3D3A;
        color: white;
        border: solid black 2px;
        border-radius: 25px;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 8px;
        margin-right: 2px;
      }

      .nav-three-new {
        float: right;
        text-align: center;
        width: 150px;
        text-decoration: none;
        padding: 2%;
        background-color: #00539C;
        color: white;
        border: solid black 2px;
        border-radius: 25px;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 8px;
        margin-right: 2px;

      }



      .main-body {
        width: 75%;
        margin: auto;
      }

      .overview-section {
        font-size: 2em;
        color: black;
        box-shadow: -1px -1px 7px 1px rgba(30,150,0,1);
        border: solid 1px #EFEFEF;
        border-radius: 25px;
        padding: 1%;

      }

      .more-info-section {
        font-size: 2em;
        color: black;
        box-shadow: -1px -1px 7px 1px rgba(0,0,148,1);
        border: solid 1px #EFEFEF;
        border-radius: 25px;
        padding: 1%;

      }

      .image {
        width: 15%;
        margin-left: 40%;
        opacity: 0.5;

      }

      .contact-me {
        font-family: sans-serif;
        text-align: center;
        font-size: 2em;
        color: black;
        box-shadow: -1px -1px 7px 1px rgba(255,18,18,1);
        border: solid 1px #EFEFEF;
        border-radius: 25px;
        padding: 1%;
      }

      .button {
        border: solid 1px #EFEFEF;
        border-radius: 25px;
        padding: 1%;
      }

      .info {
        border-radius: 50%;
        opacity: 1;
      }
